<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.7.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.7.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.7.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.7.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.7.3" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="17.14.1" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.14.1" targetFramework="net48" />
  <package id="NUnit" version="4.4.0-beta.1" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="5.1.0-alpha.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.0-preview.5.25277.114" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.5.25277.114" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="10.0.0-preview.5.25277.114" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>